<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <!-- header start -->
    <header>
        <section id="header-section">

            <div class="navbar">
                    <div class="logo">
                        <span>Feane</span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#" class="active">Home</a></li>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Book table</a></li>

                        </ul>
                    </div>
                    <div class="search">
                        <i class="fa-solid fa-user" style="color: white;"></i>
                        <i class="fa-solid fa-cart-shopping" style="color: white;"></i>
                        <i class="fa-solid fa-magnifying-glass"  style="color: white;"></i>
                        <button type="btn" class="order-btn">Order Online</button>
                    </div>
            </div>

            <div class="leftslide-section">
                <h1>Fast Food Restaurant
                </h1>
                <p>Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam</p>
                <button type="btn" class="order-btn">Order Online</button>
            </div>
        </section>
    </header>
    <!-- header end -->
    <!-- sub-header start -->
    <div class="sub-header">
        <div class="order-menu">
            <div class="left-order-img">
                <div class="scale-img">
                <img src="img/o1.jpg" alt="">
            </div>
            </div>
            <div class="right-order-menu">
                <h3>Tasty Thursdays</h3>
                <h3>20% <span>off</span></h3>
                <button type="btn" class="order-btn">Order Online</button>
            </div>
        </div>


        <div class="order-menu">
            <div class="left-order-img">
                <div class="scale-img">
                <img src="img/o1.jpg" alt="">
            </div>
            </div>
            <div class="right-order-menu">
                <h3>Tasty Thursdays</h3>
                <h3>20% <span>off</span></h3>
                <button type="btn" class="order-btn">Order Online</button>
            </div>
        </div>
    </div>
    <!-- sub-header end -->
</body>
</html>